{% extends "bootstrap/base.html" %}

{% block title %}
{{ title }} | scrumJET
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{bootstrap_find_resource('css/bootstrap_theme.css', cdn='bootstrap')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

<meta name="description" content="">
<meta name="author" content="">

<!-- js cdn -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js">
</script>

<!-- Google font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,400italic,700' rel='stylesheet'
  type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.about') }}">About us</a></li>
        <li><a href="{{ url_for('main.courses') }}">Courses</a></li>
        <li><a href="{{ url_for('main.blog') }}">Blog</a></li>
        <li><a href="{{ url_for('main.faq') }}">FAQ</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}

        <li><a href="{{ url_for('main.admin') }}">Admin</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"> </span> {{ current_user.username }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}

<!-- alert messages -->
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} text-center">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </a>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<div class="row">
  {# application content needs to be provided in the app_content block #}
  {% block app_content %}

  <div class="alert alert-info" role="alert">
    A simple info alert—check it out!
  </div>

  {% endblock %}

</div>

<!-- footer -->
<div id="page-footer">
  <div class="row">
    <div class="col-sm-12 text-right">
      <ul class="social-icons">
        <li>
          <a href="https://www.facebook.com/profile.php?id=100088241812507">
            <i aria-hidden="true"><img src="{{ url_for('static', filename='icons/facebook.svg')}}" alt="Facebook"
                width="32" height="32"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/scrum_jet22/">
            <i aria-hidden="true"><img src="{{ url_for('static', filename='icons/instagram.svg')}}" alt="Facebook"
                width="32" height="32"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/ScrumJet">
            <i aria-hidden="true"><img src="{{ url_for('static', filename='icons/twitter.svg')}}" alt="Facebook"
                width="32" height="32"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row bsr-footer-main-links">
    <div class="col-sm-3 bsr-footer-links">
      <h5>About</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="#">Sponsors</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('main.sitemap') }}">Sitemap</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('main.contact') }}">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 bsr-footer-links">
      <h5>Legal</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="{{ url_for('main.terms') }}">Terms & Conditions</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('main.policy') }}">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-2 bsr-footer-links">
      <h5>Contact us</h5>
      <ul class="nav flex-column">
        <li class="nav-item">
          <p>ScrumJET campus
            <br>Lewsey Park
            <br>Luton
            <br>LU4 0PF
            <br>
            <br>03069 990636
            <br>help@scrumjet.co.uk
          </p>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 bsr-footer-links">
      <h5>Find us</h5>
      <iframe allowfullscreen frameborder="0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14334.362193271136!2d-0.45815450126988083!3d51.90031882642109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48764f41f68d1a51%3A0x412bbde5f92bbcd6!2sLewsey%20Park!5e0!3m2!1sen!2suk!4v1669377350494!5m2!1sen!2suk"></iframe>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <p>
        <small>
          &copy; <script>
            document.write(
              new Date().getFullYear())
          </script>, scrumJET
        </small>
      </p>
    </div>
  </div>
</div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<!-- JAVASCRIPT TO INCLUDE COURSE DATABASE & IMAGES -->
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='js/raty/lib/jquery.raty.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#star').raty({
      path: '/static/js/raty/lib/images',
      half: true,
      number: 5,
      score: $('#result').val(),
      starType: 'img',
      targetKeep: true,
      click: function (score, event) {
        $('#result').val(score);
      }
    });

    $('.avg-rating').raty({
      path: '/static/js/raty/lib/images',
      readOnly: true,
      score: function () {
        return $(this).attr('data-score');
      }
    });

    $('.star-rating').raty({
      path: '/static/js/raty/lib/images',
      readOnly: true,
      score: function () {
        return $(this).attr('data-score');
      }
    });

    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<script type="text/javascript">
  window.setTimeout(function () {
    $(".alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 3000);
</script>
<script>
  $(document).ready(function () {
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function () {

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  })
</script>
{% endblock %}