{% extends "base.html" %}

{% block app_content %}
</br>
<div class="container container-faq">
    </br>
    <h2>FAQs</h2>
    <div class="panel-group" id="accordion">
    </br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq1">What are the basic rules of Scrum?</a>
          </h4>
        </div>
        <div id="faq1" class="panel-collapse collapse">
          <div class="panel-body">Every Sprint is Four weeks or less. There are no breaks in between. Every sprint is the same length. Daily scrum meeting at one specific time each day for limited to 15 minutes. Every sprint includes sprint review and retrospective for stakeholder’s feedback and team to review and implement.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq2">5 activities/events of Scrum?</a>
          </h4>
        </div>
        <div id="faq2" class="panel-collapse collapse">
          <div class="panel-body"><ol><li>Sprint Planning,</li> 
                                      <li>Daily Scrum,</li> 
                                      <li>Sprint Review,</li> 
                                      <li>Sprint Retrospective,</li>
                                      <li>The Sprint.</li></ol></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq3">What are the 4 agile manifestos?</a>
          </h4>
        </div>
        <div id="faq3" class="panel-collapse collapse">
          <div class="panel-body"><ul><li>individuals and interactions over processes and tools; </li> 
                                      <li>working software over comprehensive documentation; </li> 
                                      <li>customer collaboration over contract negotiation; and. </li> 
                                      <li>responding to change over following a plan.</li></ul></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq4">Benefits of a CSM?</a>
          </h4>
        </div>
        <div id="faq4" class="panel-collapse collapse">
          <div class="panel-body">Most wanted after certifications by IT recruiters. Command a higher salary. Establish strong leadership skills.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#faq5">Are scrum masters still in demand?</a>
          </h4>
        </div>
        <div id="faq5" class="panel-collapse collapse">
          <div class="panel-body">Over the past 12 months, “Scrum master” popped up 119,428 times in job postings, and Lightcast estimates the skill's growth at 49.8 percent over the next two years. As long as organizations embrace Scrum and related methodologies for project management, they'll need technologists in this role.</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#faq6">How quickly can I be CSM? </a>
            </h4>
          </div>
          <div id="faq6" class="panel-collapse collapse">
            <div class="panel-body">It is typically a two-day (14-16 hour), both online or in-person course that will teach you about the scrum framework and how to become a successful scrum master. After completing the course, you will take a test on websites to get validated as a master.</div>
          </div>
      </div>
    </div> 
  </div>

{% endblock %}